#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li {
  font-size: 1.1rem;
  font-weight: 700;
}
